<% if current_user.name.blank? %>
    <div class="row" style="margin-bottom: 30px; margin-top: 10px;">
        <div class="col-md-12">
            <div style="text-align: center">
                <%= image_tag 'logo.png' %>
                <hr>
            </div>
        </div>
    </div>
<% else %>
    <%= render 'dashboard_users/nav' %>
<% end %>

<div class="container">
    <div class="row">
        <% if current_user.name.blank? %>
            <div class="col-md-12">
                <h3 style="text-align: center;">Please complete your Tradesgram profile!</h3>
                <%= link_to 'Complete your profile here', edit_user_registration_path, class: "btn btn-primary btn-lg btn-block", style: "margin-top: 40px;" %>
            </div>
        <% else %>
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Welcome, <%= current_user.name %></h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <% if current_user.avatar.present? %>
                                <%= image_tag(current_user.avatar.url(:medium), style: "width:100%;") %>
                            <% else %>
                                <%= image_tag 'avatar.png' %>
                            <% end %>
                        </div>
                        <div class="col-md-4">
                            <h4>Country</h4>
                            <p><%= current_user.country %></p>
                            <br>
                            <h4>City</h4>
                            <p><%= current_user.city %></p>
                            <br>
                            <h4>Email</h4>
                            <p><%= current_user.email %></p>
                        </div>
                        <div class="col-md-4">
                            <h4>Company</h4>
                            <p><%= current_user.company %></p>
                            <br>
                            <h4>Job Title</h4>
                            <p><%= current_user.job_title %></p>
                            <br>
                            <h4>Field of Study</h4>
                            <p><%= current_user.field_of_study %></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">    
                        <div class="col-md-12">
                            <p><em><%= current_user.bio %></em></p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
           
                <div class="col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Profile Strength</h3>
                      </div>
                      
                      
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                
                                <!-- First set of comparison: 
                                                                    B B B B
                                                                    P B B B
                                                                    B P B B
                                                                    B B P B
                                                                    B B B P
                                                                                        -->
                                    <% if @certifications.blank? && @experiences.blank? && @courses.blank? && @projects.blank? %>
                                        <h4>Start building your profile!</h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                                <span class="sr-only">10% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.present? && @experiences.blank? && @courses.blank? && @projects.blank? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                                <span class="sr-only">25% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.blank? && @experiences.present? && @courses.blank? && @projects.blank? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                                <span class="sr-only">25% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.blank? && @experiences.blank? && @courses.present? && @projects.blank? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                                <span class="sr-only">25% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.blank? && @experiences.blank? && @courses.blank? && @projects.present? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                                <span class="sr-only">25% Complete</span>
                                            </div>
                                        </div>
                                    <!-- First set of comparision end -->  
                                
                                <!-- Second set of comparison starts:
                                                                            P P B B OK
                                                                            P B P B OK
                                                                            P B B P OK
                                                                            B B P P OK
                                                                            B P B P OK
                                                                            B P P B OK
                                                                                        -->
                                    <% elsif @certifications.present? && @experiences.present? && @courses.blank? && @projects.blank? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.present? && @experiences.blank? && @courses.present? && @projects.blank? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.present? && @experiences.blank? && @courses.blank? && @projects.present? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.blank? && @experiences.blank? && @courses.present? && @projects.present? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.blank? && @experiences.present? && @courses.blank? && @projects.present? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.blank? && @experiences.present? && @courses.present? && @projects.blank? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    <!-- Second comparison ends -->
                                    
                                    <!-- Third set of comparison starts:
                                                                            P P P B
                                                                            P P B P
                                                                            P B P P
                                                                            B P P P
                                                                                        -->
                                    <% elsif @certifications.present? && @experiences.present? && @courses.present? && @projects.blank? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                                <span class="sr-only">75% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.present? && @experiences.present? && @courses.blank? && @projects.present? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                                <span class="sr-only">75% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.present? && @experiences.blank? && @courses.present? && @projects.present? %>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                                <span class="sr-only">75% Complete</span>
                                            </div>
                                        </div>
                                    <% elsif @certifications.blank? && @experiences.present? && @courses.present? && @projects.present? %>
                                    <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                                <span class="sr-only">75% Complete</span>
                                            </div>
                                        </div>
                                    <!-- Third comparison ends -->
                                    
                                    <!-- Fourth set of comparison starts:
                                                                            P P P P
                                                                                        -->
                                    <% elsif @certifications.present? && @experiences.present? && @courses.present? && @projects.present? %>
                                        <h4>Your profile is completed!</h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                <span class="sr-only">100% Complete</span>
                                            </div>
                                        </div>
                                    <!-- Fourth comparison ends -->
                                    
                                    <% end %>
                              </div> <!-- col-md-12 end -->
                            </div> <!-- row end -->
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- First set of comparison: 
                                                                    B B B B
                                                                    P B B B
                                                                    B P B B
                                                                    B B P B
                                                                    B B B P
                                                                                        -->
                                    <% if @certifications.blank? && @experiences.blank? && @courses.blank? && @projects.blank? %>
                                        <p><%= link_to "Add Certifications", new_certification_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Experience", new_experience_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Courses", new_course_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Projects", new_project_path, class: "btn btn-success btn-lg btn-block" %></p>
                                    <% elsif @certifications.present? && @experiences.blank? && @courses.blank? && @projects.blank? %>
                                        <p><i class="fa fa-check" style="color: green;"></i> Certification Added <small><%= link_to '[Modify]', certifications_path %></small></p>
                                        <p><%= link_to "Add Experience", new_experience_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Courses", new_course_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Projects", new_project_path, class: "btn btn-success btn-lg btn-block" %></p>
                                    <% elsif @certifications.blank? && @experiences.present? && @courses.blank? && @projects.blank? %>
                                        <p><%= link_to "Add Certifications", new_certification_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Experience Added <small><%= link_to '[Modify]', experiences_path %></small></p>
                                        <p><%= link_to "Add Courses", new_course_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Projects", new_project_path, class: "btn btn-success btn-lg btn-block" %></p>
                                    <% elsif @certifications.blank? && @experiences.blank? && @courses.present? && @projects.blank? %>
                                        <p><%= link_to "Add Certifications", new_certification_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Experience", new_experience_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Course Added <small><%= link_to '[Modify]', courses_path %></small></p>
                                        <p><%= link_to "Add Projects", new_project_path, class: "btn btn-success btn-lg btn-block" %></p>
                                    <% elsif @certifications.blank? && @experiences.blank? && @courses.blank? && @projects.present? %>
                                        <p><%= link_to "Add Certifications", new_certification_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Experience", new_experience_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Courses", new_course_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Projects Added <small><%= link_to '[Modify]', projects_path %></small></p>
                                    <!-- First set of comparision end -->                                        
                                    
                                    <!-- Second set of comparison starts:
                                                                            P P B B OK
                                                                            P B P B OK
                                                                            P B B P OK
                                                                            B B P P OK
                                                                            B P B P OK
                                                                            B P P B OK
                                                                                        -->
                                    <% elsif @certifications.present? && @experiences.present? && @courses.blank? && @projects.blank? %>
                                        <p><i class="fa fa-check" style="color: green;"></i> Certification Added <small><%= link_to '[Modify]', certifications_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Experience Added <small><%= link_to '[Modify]', experiences_path %></small></p>
                                        <p><%= link_to "Add Courses", new_course_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Projects", new_project_path, class: "btn btn-success btn-lg btn-block" %></p>
                                    <% elsif @certifications.present? && @experiences.blank? && @courses.present? && @projects.blank? %>
                                        <p><i class="fa fa-check" style="color: green;"></i> Certification Added <small><%= link_to '[Modify]', certifications_path %></small></p>
                                        <p><%= link_to "Add Experience", new_experience_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Course Added <small><%= link_to '[Modify]', courses_path %></small></p>
                                        <p><%= link_to "Add Projects", new_project_path, class: "btn btn-success btn-lg btn-block" %></p>
                                    <% elsif @certifications.present? && @experiences.blank? && @courses.blank? && @projects.present? %>
                                        <p><i class="fa fa-check" style="color: green;"></i> Certification Added <small><%= link_to '[Modify]', certifications_path %></small></p>
                                        <p><%= link_to "Add Experience", new_experience_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Courses", new_course_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Projects Added <small><%= link_to '[Modify]', projects_path %></small></p>
                                    <% elsif @certifications.blank? && @experiences.blank? && @courses.present? && @projects.present? %>
                                        <p><%= link_to "Add Certifications", new_certification_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><%= link_to "Add Experience", new_experience_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Course Added <small><%= link_to '[Modify]', courses_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Projects Added <small><%= link_to '[Modify]', projects_path %></small></p>
                                    <% elsif @certifications.blank? && @experiences.present? && @courses.blank? && @projects.present? %>
                                        <p><%= link_to "Add Certifications", new_certification_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Experience Added <small><%= link_to '[Modify]', experiences_path %></small></p>
                                        <p><%= link_to "Add Courses", new_course_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Projects Added <small><%= link_to '[Modify]', projects_path %></small></p>
                                    <% elsif @certifications.blank? && @experiences.present? && @courses.present? && @projects.blank? %>
                                        <p><%= link_to "Add Certifications", new_certification_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Experience Added <small><%= link_to '[Modify]', experiences_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Course Added <small><%= link_to '[Modify]', courses_path %></small></p>
                                        <p><%= link_to "Add Projects", new_project_path, class: "btn btn-success btn-lg btn-block" %></p>
                                    <!-- Second comparison ends -->
                                    
                                    <!-- Third set of comparison starts:
                                                                            P P P B
                                                                            P P B P
                                                                            P B P P
                                                                            B P P P
                                                                                        -->
                                    <% elsif @certifications.present? && @experiences.present? && @courses.present? && @projects.blank? %>
                                        <p><i class="fa fa-check" style="color: green;"></i> Certification Added <small><%= link_to '[Modify]', certifications_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Experience Added <small><%= link_to '[Modify]', experiences_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Course Added <small><%= link_to '[Modify]', courses_path %></small></p>
                                        <p><%= link_to "Add Projects", new_project_path, class: "btn btn-success btn-lg btn-block" %></p>
                                    <% elsif @certifications.present? && @experiences.present? && @courses.blank? && @projects.present? %>
                                        <p><i class="fa fa-check" style="color: green;"></i> Certification Added <small><%= link_to '[Modify]', certifications_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Experience Added <small><%= link_to '[Modify]', experiences_path %></small></p>
                                        <p><%= link_to "Add Courses", new_course_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Projects Added <small><%= link_to '[Modify]', projects_path %></small></p>
                                    <% elsif @certifications.present? && @experiences.blank? && @courses.present? && @projects.present? %>
                                        <p><i class="fa fa-check" style="color: green;"></i> Certification Added <small><%= link_to '[Modify]', certifications_path %></small></p>
                                        <p><%= link_to "Add Experience", new_experience_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Course Added <small><%= link_to '[Modify]', courses_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Projects Added <small><%= link_to '[Modify]', projects_path %></small></p>
                                    <% elsif @certifications.blank? && @experiences.present? && @courses.present? && @projects.present? %>
                                        <p><%= link_to "Add Certifications", new_certification_path, class: "btn btn-success btn-lg btn-block" %></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Experience Added <small><%= link_to '[Modify]', experiences_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Course Added <small><%= link_to '[Modify]', courses_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Projects Added <small><%= link_to '[Modify]', projects_path %></small></p>
                                    <!-- Third comparison ends -->
                                    
                                    <!-- Fourth set of comparison starts:
                                                                            P P P P
                                                                                        -->
                                    <% elsif @certifications.present? && @experiences.present? && @courses.present? && @projects.present? %>
                                        <p><i class="fa fa-check" style="color: green;"></i> Certification Added <small><%= link_to '[Modify]', certifications_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Experience Added <small><%= link_to '[Modify]', experiences_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Course Added <small><%= link_to '[Modify]', courses_path %></small></p>
                                        <p><i class="fa fa-check" style="color: green;"></i> Projects Added <small><%= link_to '[Modify]', projects_path %></small></p>
                                    <!-- Fourth comparison ends -->
                                    
                                    <% end %>
                                </div>
                            </div> <!-- row end -->
                            </div> <!-- panel body ends -->
                        
                        </div>
                    </div>
                        
        <% end %>
    </div>
    
    <!-- EDUCATION BLOCK STARTS HERE -->
     <% if current_user.school.blank? %>
     
     <% else %>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-graduation-cap" style="color: #00A0DC;"></i> Education</h2>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-md-6">
                            <p>School: <%= current_user.school %></p>
                            <p>Graduation Date: <%= current_user.graduation_date %></p>
                            <p>Field of Study: <%= current_user.field_of_study %></p>
                          </div>
                          <div class="col-md-6">
                            <p>Description: <%= current_user.description %></p>
                          </div>
                      </div>
                </div>
                </div>
        </div>
    </div>
    <% end %>
    <!-- EDUCATION BLOCK ENDS HERE -->
    
    
    <!-- CERTIFICATIONS BLOCK STARTS HERE -->
    <% if @certifications.blank? %>
    
    <% else %>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-file-text-o" style="color: #8D6CAB;"></i> Certifications</h2>
                  </div>
                  <div class="panel-body">
                    <% @certifications.each do |c| %>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><%= c.certification_name %></h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Certification Authority: <%= c.certification_authority %></p>        
                                </div>
                                <div class="col-md-3">
                                    <p>License Number: <%= c.license_number %></p>
                                </div>
                                <div class="col-md-3">
                                    <p>Certification URL: <%= c.certification_url %></p>
                                </div>
                                <div class="col-md-3">
                                    <p>Is certificate expiring? <br> <%= c.this_certificate_does_not_expire %></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <hr>
                    <% end %>
                  </div>
                </div>
            </div>
    </div>
    <% end %>
    <!-- CERTIFICATIONS BLOCK ENDS HERE -->
    
    
    <!-- INTERESTS BLOCK STARTS HERE -->
     <% if current_user.interests.blank? %>
     
     <% else %>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-newspaper-o" style="color: #00A0DC;"></i> Interests</h2>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-md-12">
                            <p><%= current_user.interests %></p>
                          </div>
                          
                      </div>
                </div>
                </div>
        </div>
    </div>
    <% end %>
    <!-- INTERESTS BLOCK ENDS HERE -->
    
    
    <!-- EXPERIENCES BLOCK STARTS HERE -->
    <% if @experiences.blank? %>
    
    <% else %>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-building-o" style="color: green;"></i> Work Experience</h2>
                  </div>
                  <div class="panel-body">
                    <% @experiences.each do |e| %>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><%= e.company_name %></h4>
                            <h6><%= e.title %></h6>
                            <div class="row">
                                <div class="col-md-2">
                                    <h6><%= e.time_start %></h6>        
                                </div>
                                <div class="col-md-2">
                                    <h6><%= e.time_end %></h6>        
                                </div>
                            </div>
                            <h6><%= e.location %></h6>
                            <div class="row">
                                <div class="col-md-12">
                                  <p><%= e.description %></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <hr>
                    
                    <% end %>
                  </div>
                </div>
            </div>
    </div>
    <% end %>
    <!-- EXPERIENCES BLOCK ENDS HERE -->
    
    
    <!-- COURSES BLOCK STARTS HERE -->
    <% if @courses.blank? %>
    
    <% else %>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-book" style="color: orange;"></i> Courses</h2>
                  </div>
                  <div class="panel-body">
                    <% @courses.each do |course| %>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><%= course.course_name %></h4>
                            <p><strong>Course Number:</strong> <%= course.course_number %></p>
                            <hr>
                        </div>
                    </div>
                    
                    <% end %>
                  </div>
                </div>
            </div>
    </div>
    <% end %>
    <!-- COURSES BLOCK ENDS HERE -->
    
    
    <!-- COURSES BLOCK STARTS HERE -->
    <% if @projects.blank? %>
    
    <% else %>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-book" style="color: orange;"></i> Projects</h2>
                  </div>
                  <div class="panel-body">
                    <% @projects.each do |project| %>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><%= project.project_name %></h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Project Start:</strong> <%= project.project_start_date %></p>
                                    <p><strong>Project End:</strong> <% if project.project_end_date.blank? %>
                                                                        Present
                                                                     <% else %>
                                                                        <%= project.project_end_date %>
                                                                     <% end %></p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Project URL:</strong> <%= project.project_url %></p>
                                    <p><strong>Project Description:</strong> <%= project.project_description %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="embed-container">  
                                      <%= embed(project.project_video) %>
                                    </div>
                                </div>
                            </div>
                            
                            <hr>
                        </div>
                    </div>
                    
                    <% end %>
                  </div>
                </div>
            </div>
    </div>
    <% end %>
    <!-- COURSES BLOCK ENDS HERE -->
    
    
    <!-- PROMO ADD SKILLS, EDUCATION, ETC. BLOCK STARTS HERE -->
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-12">
            <h4>Add a section to your profile – be discovered for your next career step.</h4>
        </div>
    </div>
        <div class="row" style="margin-top: 17px;">
            <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <i class="fa fa-graduation-cap" style="color: #00A0DC; font-size: 50px;"></i>
                        <h4>Education</h4>
                        <p>Members with a school on their profile get 7 times more profile views.</p>
                      </div>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                      <div class="panel-body">
                        <i class="fa fa-graduation-cap" style="color: #00A0DC; font-size: 50px;"></i>
                        <h4>Skills</h4>
                        <p>Members with a school on their profile get 7 times more profile views.</p>
                      </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <div class="panel panel-default">
                      <div class="panel-body">
                        <i class="fa fa-file-text-o" style="color: #8D6CAB; font-size: 50px;"></i>
                        <h4>Certifications</h4>
                        <p>Adding a summary is a quick and easy way to highlight your experience and interests. Add Summary</p>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                      <div class="panel-body">
                        <i class="fa fa-building-o" style="color: green; font-size: 50px;"></i>
                        <h4>Experience</h4>
                        <p>Adding a summary is a quick and easy way to highlight your experience and interests. Add Summary</p>
                      </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <div class="panel panel-default">
                      <div class="panel-body">
                        <i class="fa fa-graduation-cap" style="color: #00A0DC; font-size: 50px;"></i>
                        <h4>Projects</h4>
                        <p>Adding a summary is a quick and easy way to highlight your experience and interests. Add Summary</p>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                      <div class="panel-body">
                        <i class="fa fa-book" style="color: orange;font-size: 50px;"></i>
                        <h4>Courses</h4>
                        <p>Adding a summary is a quick and easy way to highlight your experience and interests. Add Summary</p>
                      </div>
                </div>
            </div>
        </div>
        <!-- PROMO ADD SKILLS, EDUCATION, ETC. BLOCK ENDS HERE -->
</div>

<%= render 'layouts/footer' %>