<%= render 'dashboard_users/nav' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>My Courses</h3>
    
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Course name</th>
            <th>Course number</th>
            <th colspan="2"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.course_name %></td>
              <td><%= course.course_number %></td>
              <td><%= link_to 'Edit', edit_course_path(course) %></td>
              <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <br>
        <p><%= link_to 'New Course', new_course_path, class: "btn btn-success" %></p>
        <p><%= link_to 'Back', root_path, class: "btn btn-link" %></p>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>