<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= image_tag 'logo.png', style: "width:40%;" %>
        </div>
        <div class="col-md-4">
            <ul>
                <li><%= link_to 'About', pages_about_path %></li>
                <li><%= link_to 'Press', pages_press_path %></li>
                <li><%= link_to 'Copyright Policy', pages_copyright_policy_path %></li>
                <li><%= link_to 'Privacy Policy', pages_privacy_policy_path %></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><%= link_to 'Facbook Icon', '#' %></li>
                <li><%= link_to 'Twitter', '#' %></li>
            </ul>
        </div>
    </div>
    </div>
</footer>